/* Light mode colors */
:root {
	--color-beige-dark: #c1b5e6;
	--color-beige: #e2d3f5;
	--color-beige-light: #e6def3;
	--color-primary: #3043a0;
	--color-primary-active: #636dd5;
	--color-gray: rgb(66, 58, 77);
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
	:root {
		--color-beige-dark: #1d1c22;
		--color-beige: #2f2e35;
		--color-beige-light: #2a2736;
		--color-primary: #677ce2;
		--color-primary-active: #4d60bd;
		--color-gray: #c5bfe2;
	}
}
