---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="px-8 pt-16">
		<div class="max-w-4xl mx-auto my-12">
			<h1 class="text-5xl text-primary font-display mb-4">404: Not Found</h1>
			<p class="text-4xl mb-8">The page you're looking for doesn't exist.</p>
			<a
				class="text-3xl text-primary hover:text-primary-active transition-colors"
				href="/"
			>
				Go back home →
			</a>
		</div>
	</div>
</Layout>
