---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Volunteering from "../components/Volunteering.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
	<div class="min-h-screen p-8">
		<div class="max-w-4xl mx-auto space-y-6 my-12">
			<Header />
			<Socials />
			<Education />
			<Experience />
			<Volunteering />
			<Skills />
			<Projects />
			<div class="text-center pt-8">
				<a href="mailto:emilia@repo.codes" class="text-2xl text-primary">
					emilia@repo.codes
				</a>
				<p class="text-lg">Made in Otaniemi, Finland.</p>
			</div>
		</div>
	</div>
</Layout>
