---
import { Picture } from "astro:assets";
import icon from "../assets/icon.jpeg";
---

<header class="relative flex flex-col items-center">
	<div class="w-64 h-64 rounded-full overflow-hidden border-4 border-primary">
		<Picture
			src={icon}
			formats={["webp", "jpeg"]}
			alt="Profile"
			class="object-cover"
		/>
	</div>

	<h1 class="text-4xl font-bold text-primary mt-6 mb-1 font-display">
		Hey, I'm
	</h1>
	<h1 class="text-5xl font-black text-primary font-display">Emilia Repo.</h1>
	<p class="text-2xl text-primary text-center mt-6">Software Developer.</p>
</header>
