---
import ProjectCard from "./ProjectCard.astro";

import tablebook from "../assets/tablebook.jpeg";
import procurement from "../assets/procurement.jpeg";
import dadquiz from "../assets/dadquiz.jpeg";
import gayy from "../assets/gayy.jpeg";
import cryptocache from "../assets/cryptocache.jpeg";
import repocodes from "../assets/repocodes.jpeg";

const projectData = [
	{
		title: "TableBook",
		description:
			"Design of WWW Services course group project, online meeting minute management system",
		image: tablebook,
		link: "https://tablebook.pages.dev",
		tools: ["Svelte", "SvelteKit", "Drizzle", "TipTap"],
	},
	{
		title: "Supplier Showdown",
		description:
			"Software Project for Sievo, a tool to compare supplier news, financials and stock prices",
		image: procurement,
		tools: ["C#", "ASP.NET", "Swagger", "REST", "CI/CD"],
	},
	{
		title: "DAD Quiz",
		description: "Quiz app for the Device Agnostic Design course",
		image: dadquiz,
		link: "https://emiliarepo.github.io/dad-quiz/",
		tools: ["Flutter", "Dart", "Riverpod"],
		source: "https://github.com/emiliarepo/dad-quiz-app",
	},
	{
		title: "GAYY Website",
		description: "Website for the GAYY organization at Aalto University",
		image: gayy,
		link: "https://www.gayy.fi",
		tools: ["TypeScript", "React", "Tailwind", "i18next"],
		source: "https://github.com/emiliarepo/gayy-web",
	},
	{
		title: "CryptoCache",
		description:
			"CTF challenging participants to exploit a vulnerable website and decrypt coordinates to locate a geocache",
		image: cryptocache,
		link: "https://cryptocache.vercel.app",
		tools: ["Next.js", "React", "Tailwind", "Postgres"],
		source: "https://github.com/emiliarepo/cryptocache",
	},
	{
		title: "repo.codes",
		description:
			"Static portfolio website with professional experience, projects and links",
		image: repocodes,
		link: "https://repo.codes",
		tools: ["Astro", "TypeScript", "Tailwind"],
		source: "https://github.com/emiliarepo/repo.codes",
	},
];
---

<section>
	<h2 class="text-3xl font-bold mb-4 text-primary font-display">Projects</h2>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
		{projectData.map((proj) => <ProjectCard {...proj} />)}
	</div>
</section>
