---
import "@fontsource-variable/gelasio";
import "@fontsource-variable/platypi";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Emilia Repo</title>
		<meta
			name="description"
			content="Passionate Computer Science MSc student at Aalto University with expertise in software development, project management, and leadership."
		/>
	</head>
	<body
		class="bg-beige text-gray dark:bg-beige-dark dark:text-gray-dark font-serif"
	>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
